<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:aqua">Header</div>
    <div>
        @RenderBody()
    </div>
    <div style="background-color:yellow">Footer</div>
</body>
</html>
