@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">ASP.NET Core</div>
            <ul>
                <li><a href="/layout">Home</a></li>
                <li><a href="/contact-page">Contact us</a></li>
                <li><a href="/about-page">About us</a></li>
                <li><a href="/products-page">All Products</a></li>
                <li><a href="/order-product">Order Products</a></li>
                <li><a href="/search-product">Search Products</a></li>
            </ul>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <div class="footer-content">
        @RenderSection("footer_section", false)
    </div>
</body>
</html>
