<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <div>
        <div class="container">
            <div class="header">
                ASP.NET DEMO App
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
