<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="~/StyleSheet.css"/>
    </head>
    <body>
        <div class="box">
        </div>
    </body>
</html>