@model IEnumerable<string>
@{
    ViewData["Title"] = "Index";
}

<h1>Cities</h1>
<ul class="list">
    @foreach (var city in Model)
    {
        <li>@city</li>
    }
</ul>

<div class="container">
    <ul>
        <li>@ViewBag.guid1</li>
        <li>@ViewBag.guid2</li>
        <li>@ViewBag.guid3</li>
    </ul>
</div>

