
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/BootStrapLayout.cshtml";
}

<h1>Welcome</h1>

<h3> We have added Bootstrap and we would like to give a try</h3>
<br />
<p class="bg-light">bootstrap demo 1</p>
<p class="bg-danger">bootstrap demo 2</p>
<p class="bg-success">bootstrap demo 3</p>

