
@{
    ViewData["Title"] = "About";
    // Layout = "~/Views/Shared/_Layout.cshtml"; // added master/layout page - connected with _layout.cshtml - using Layout Property
    Layout = "~/Views/Shared/_Layout1.cshtml";  // Overring the global layout and using layout1
}

<h1>About</h1>

