
@{
    ViewData["Title"] = "Index";
    // NO CONNECTION DEVELOPED BETWEEN MASTER_PAGE(_Layout.cshtml) AND VIEW(Index.cshtml)
    Layout = null // setting as null since viewStart.cshtml is applied and we are overriding it to null, so that no layout is applied
}

<h1>Index</h1>

