@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact us";
    ViewData["Temp"] = "Temp Data";
}
<h1>Contact Us</h1>

@section footer_section {
    <p>Contact us: 123457890</p>
}

<h2>
    Using partial Tag helper
</h2>
<partial name="_DemoPartialView" />
<h2>Using Html.PartialAsync</h2>
@await Html.PartialAsync("_DemoPartialView")
<h2>Using Html.RenderPartialAsync - always inside a razor block</h2>
@{
    await Html.RenderPartialAsync("_DemoPartialView");
}



